html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffecd6;
}

.logo{
    max-width: fit-content;
    margin-inline: auto;
}

.sidenav{
    width: 160px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffaa5e;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidenavcontent{
    padding-left: 20px;
    background-color: inherit;
}

.topnav{
    position: sticky;
    top: 0;
    background-color: #203c56;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #544e68;
    color: #ffffff;
}

.topnav a.active {
    background-color: #0d2b45;
    color: 70749d;
}

.botnav{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0d2b45;
    overflow: hidden;
    z-index: 3;
}

.botnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.botnav a:hover{
    background-color: #0d2b45;
    color: #8d697a;
}

.contentcontainer{
    padding-left: 168px;
    padding-right: 16px;
}
